.body {
    background-color: white;
}


.background-kansas {
    position: absolute;
    bottom: 32vh;
    
}

.story-title {
    position: absolute;
    width: 30%;
    top: 3vh;
    left: 2vw;
}   

.kansas-fence {
    width: 48vw;
    position: absolute;
    bottom: 0;
}

.farm-house {
    position: absolute;
    width: 20%;
    bottom: 25vh;
    right: 10vw;
}

.dorothy-house {
    position: absolute;
    width: 11%;
    bottom: 34vh;
    right: 55vw;

}

.clouds-container {
    height: 600vh;
    width: 100%;
    position: "relative";
}

.cloud-1 {
    position: absolute;
    width: 20%;
    bottom: 36vh;
    
    
}
.cloud-2 {
    position: absolute;
    width: 24%;
    bottom: 53vh;
    
    
}

.cloud-3 {
    position: absolute;
    width: 22%;
    bottom: 70vh;
    
}

.tornado {

}

.dorothy-fence {
    width: 13%;
    position: absolute;
    bottom: 28vh;
    left: 15vw;
    rotate: 4deg;
}

.toto-fence {
    width: 10%;
    position: absolute;
    bottom: 28vh;
    left: 4vw;
    
}

