
.parallax-content {
    
    background-color: white;
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;

    height: 3750vh;
}

.kansas-wrapper {
  
  height: 1100vh;
  position: relative;
}
.kansas {
  
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;
  background-color: white;
}

.sky-wrapper {
  height: 1500vh;
  position: relative;
}
.sky {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;
}
.munchkinLand-wrapper {
  height: 1000vh;
  position: relative;
}
.munchkinLand {
  position: sticky;
  top: 0;

  width: 100%;
  background-color: rgb(108, 200, 236);

  height: 100vh;
}