@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Glass+Antiqua&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Geologica:wght@100..900&family=Glass+Antiqua&display=swap');

html, body {
  font-family: 'Geologica', sans-serif;

  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}



/* Header */

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  background-color: #E51131;

}

/* sprookjes header */
.small-header {
  height: 148px;
}
.small-header .hero .logo{
  height: 148px;
  visibility: hidden;
}

/* Home header */
.large-header {
  height: 470px;
}

.large-header .logo {
  visibility:hidden ;
}

/* Navigation */

#header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 17px 55px 0px 68px;
  
}

.logo {
  width: 72px;

  /* visibility: hidden; */
}

#header-btns {
  display: flex;
  gap: 25px;    
}


.nav-button{
  font-family: 'Bungee', sans-serif;
  font-size: large;
  font-size:21px;
  letter-spacing: 1px;

  width: 178px;
  height: 45px;

  border-radius: 11px;
}


/* Hero */

.hero {
  align-self: center;
  margin-top: 20px;
}
.hero-text {
  display: flex;
}

.hero-text .logo {
  visibility: visible;
  width: 200px;
}

.hero-text h1 {
  color: white;
  font-size: 45px;
  width: 600px;
  padding: 0px;
  margin: 35px 0px 25px 70px;

}


/* Search Bar */

.searchBar {
  height: 33px;
  margin: 30px 30px 0px 30px;
  display: flex;
  align-items: center;
   
  border-radius: 8px;
  border: 2px solid black;
  box-shadow: inset 2px 2px 0px 0px black;
  background-color: white;

}
.searchBar img {
  
  margin-left: 10px;
  width: 20px;
  height: 20px;
}

.searchBar input {
  height: 30px;
  width: 90%;
  padding-left: 10px;

  border-radius: 8px;
  background-color: transparent;
  border: hidden;
}

.searchBar input:focus {
  
  outline: none;
  box-shadow: none;
  border: none; 
}

.searchBar input:focus::placeholder {
  color: transparent;
}

.searchBar button {
  margin-bottom: 3px;
  font-family: 'Geologica', sans-serif;

  font-size: large;
  font-weight: 700;
  width: 120px;
  height: 37px;

  border-radius: 8px;
  border: 2px solid black;
  box-shadow: 2px 2px 0px 0px black;
}

.searchBar button:hover {
  cursor: pointer;
}

.searchBar button:active {
  box-shadow: 0px 0px;
  margin-top: 2px;
}


/* Header divider */

#header-divider {
  width: 100%;
  
  position: relative;
  top: 35px;
}



/* Main content */

.container {
  width: 100%;
  height: 100%;
  padding-bottom: 130px;
  padding-top: 90px;
}
.container.dark {
  background-color: black;
}
.container.light {
  background-color: #EBF5EC;
}

.main-top {
  display: flex;
  justify-content: space-between;
}

.main-top.dark h1 {
  border-color: white;
}

.main-top .searchBar {
  margin-left: 400px;
  width: 800px;
}

.theme-button {
  
  background-color: transparent;
  
  display: flex;
  align-items: center;
  margin-right: 50px;
  border: none;
}

/* theme button styling */

.lightDiv-light {
  border: black solid 2px;
  background-color: #E51131;

  width: 42px;
  height: 42px;

  display: flex;
  justify-content: center;
  align-items: center;
 
  border-radius: 9px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.lightDiv-dark {
  border: none;
  background-color: white;

   width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
 
  border-radius: 9px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}


.darkDiv-light {
   border: none;
  background-color: black;

  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  
  border-radius: 9px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.darkDiv-dark {
  border: white solid 2px;
  background-color: #E51131;

  width: 42px;
  height: 42px;

  display: flex;
  justify-content: center;
  align-items: center;
  
  border-radius: 9px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}


main h1 {
  font-family: 'Bungee', sans-serif;
  font-weight: 100;
  color: white;
  background-color: #E51131;

  border: black solid 3px;
  border-left: none;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;

  
  
  text-align: center;
  padding: 12px;
  width: 500px;
  font-size: 40px;
}

/* stories */

#stories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  padding: 0px;;
  gap: 17px;

}
#stories a {
  text-decoration: none;
  color: black;
}
.story {

  border-radius: 15px;
  overflow: hidden;
  position: relative;
  width: fit-content;

  border: black 4px solid ;
  transition: all 0.3s ease;

  cursor: pointer;
}



.story img {
  width: 332px;
  height: 332px;
  object-fit: cover;
  display: block; 
}



.story-info {
  position: absolute;
  bottom: 0px;
  text-align: center;
  
  margin: 7px;

  border: black solid 2px;
  border-radius: 10px;
  background-color: white;


  width: 95%;
  height: 30px;
}
.story:hover .story-info {
  height: 90px;
}

.story-info h2 {
  font-family: 'Bungee', sans-serif;
  font-weight: 100;
  font-size:18px;
  margin: 0px;
}
.story:hover .story-info h2 {
  margin-top: 20px;
}

.story-info h3 {
  visibility: hidden;
  margin: 0px;
}
.story:hover .story-info h3 {
  visibility: visible;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 332px;
  height: 332px;

  background-color: rgba(0, 0, 0, 0.452);
  opacity: 0;
  transition: opacity 0.3s ease;

}
.story:hover .overlay {
  opacity: 1;
}




/* Making of */

.story-template {
  margin: 0 auto;

  width: 1130px;
  background-color: #EBF5EC;
  border: 5px solid black;
  border-radius: 16px;
}
.story-template.dark {
  border-color: white;
}

.banner {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.banner img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  display: block; 
  border-bottom: 4px solid black;

}
.banner .student-info {
  position: absolute;
  height: 60px;
  width: 91%;
  bottom: 0px;


  display: flex;
  justify-content: space-between;
  align-items: center;
  
  background-color: #EBF5EC;
  color: black;

  
  border: 2px solid black;
  border-radius: 9px;
  padding: 0px 30px 0px 30px;
  margin: 0px 20px 20px 20px;
}

#visit-story {
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 4px 4px 0px 0px black;
  width: 230px;
  height: 80px;

  margin-left: 50px;
  margin-top: 30px;

  font-family: 'Bungee', sans-serif;
  font-size: larger;
  background-color: #E51131;
  color: white;
  cursor: pointer;
}


.explainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/* sectiontitle  */
.section-title {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}
.section-title h2 {
  font-weight: 500;
  margin: 5px;
}
.section-title hr {
  width: 70%;
  height: 0px;
  border: 2px solid black;
  border-radius: 15px;
}

/* explainer section */

.explainer-section {
  display: flex;
  flex-direction: column;

  width: 90%;
}

.section-info {
  display: flex;
  align-items:center ;
  justify-content: space-between;

}

.section-info video {
  border: 3px solid black;  
  height: 230px;
  width: 380px;
  border-radius: 15px;
}
.section-info p {
  margin: 30px;
  font-size: large;
  color: rgb(54, 54, 54);
}

/* Extra images */
/* https://chatgpt.com/share/6831f91e-15c4-800a-9b66-6d1197285326 : style carousel */

.extra-images {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  margin-top: 20px;
}

.extra-images .section-title {
  width: 89%;
}

/* carousel */
.slider-container {
  width: 95%;
  height: 350px;
  
  overflow: hidden;
}

.carousel-item {
  background-color: white;
  border: 3px solid black;
  border-radius: 10px;

  width: 300px;
  height: 300px;

  box-sizing: border-box;  
}

/* Force slick to display horizontally */
.slider-container .slick-track {
  display: flex !important;
}

/* Ensure slick-slide does not stack */
.slider-container .slick-slide {
  display: flex !important;
  justify-content: center;
}

.slider-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97%;
  margin-top: 10px;
  margin-bottom: 10px;

}

.slider-nav button {
  background: none;
  border: none;
  cursor: pointer;
}

.slider-nav img {
  width: 30px;
  height: 30px;
}



/* Footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 340px;
  /* margin-top: 130px; */

  background-color: black;
}

footer.dark {
  background-color: white;
}
  
#footer-divider {
  position: relative;
    
  width: 100%;
  bottom: 60px;
  rotate: 180deg;
}


#footer-nav{
  display: flex;
  align-items: center;
  /* height: 60%; */

  margin-left: 65px;
 
  margin-right: 55px;

}

#footer-logo {
  width: 215px;
  height:215px;
}

footer #aboutText {
  color: white;
  margin-left: 50px;
  margin-right: 80px;

  height: 100%;
}

#aboutText h1 {
  font-family: 'Bungee', sans-serif;
  font-size: 40px;
 
  margin:0px;
  padding: 0px;

}

#aboutText p {
  font-size: 19px;;
  margin:0px;
  padding: 0px;
}

#footer-btns {
  display: flex;
  gap: 20px;    
}

