/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Glass+Antiqua&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Geologica:wght@100..900&family=Glass+Antiqua&display=swap');

html, body {
  font-family: 'Geologica', sans-serif;

  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body.dark {
  background-color: black;
}
body.light {
  background-color: white;
}

/* Header */

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  background-color: #E51131;

  margin-bottom: 120px;
}

.large-header {
  height: 400px;
}

.large-header .logo {
  visibility:hidden ;
}
.large-header .hero-text .logo {
  visibility: visible;
}
.hero {
  width: 40%;
  justify-content: center;
  align-items: center;
  border: black 2px solid;
}
.hero-text .logo {
  width: 200px;
  height: 200px;
}

.small-header {
  height: 148px;
}
.small-header .hero .logo{
  height: 148px;
  visibility: hidden;
}




#header-divider {
  width: 100%;
  
  position: relative;
  top: 15px;
}

#header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 17px 55px 0px 68px;
  
}

.logo {
  width: 72px;

  /* visibility: hidden; */
}

#header-btns {
  display: flex;
  gap: 25px;    
}


.nav-button{
  font-family: 'Bungee', sans-serif;
  font-size: large;
  font-size:21px;
  letter-spacing: 1px;

  width: 178px;
  height: 45px;

  border-radius: 11px;
}


/* Main content */

.main {
  margin-top: 100px;
}


.theme-button {
  position: absolute;
  right: 60px;
  background-color: transparent;
  
  display: flex;
  align-items: center;
  padding: 0px;
  margin: 0px;
  
  border: none;
}

/* theme button styling */

.lightDiv-light {
  border: black solid 2px;
  background-color: #E51131;

  width: 32px;
  height: 32px;

  display: flex;
  justify-content: center;
  align-items: center;
 
  border-radius: 9px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.lightDiv-dark {
  border: none;
  background-color: white;

   width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
 
  border-radius: 9px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}


.darkDiv-light {
   border: none;
  background-color: black;

  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  
  border-radius: 9px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.darkDiv-dark {
  border: white solid 2px;
  background-color: #E51131;

  width: 32px;
  height: 32px;

  display: flex;
  justify-content: center;
  align-items: center;
  
  border-radius: 9px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}


main h1 {
  font-family: 'Bungee', sans-serif;
  color: white;
  letter-spacing: 2px;
  background-color: #E51131;

  border: black solid 3px;
  border-left: none;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;

  
  
  text-align: center;
  padding: 12px;
  width: 500px;
  font-size: 40px;
}



#stories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  padding: 0px;;
  gap: 17px;

}

.story {

  /* border: black solid 4px; */
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  width: fit-content;

  border: black 4px solid ;
  transition: all 0.3s ease;
}

.story:hover {
  border-color: transparent;     /* make border invisible */
  box-shadow: 0 0 0 2px black ; /* simulate 1px inner border */
}

.story img {
  width: 332px;
  height: 332px;
  object-fit: cover;
  display: block; 
}

.story img:hover {
  transform: translate(-1px, 1px);
  transition: transform 0.3s ease-in-out;
}


.story h2 {
  position: absolute;
  bottom: 0px;
  text-align: center;
  margin: 7px;
  padding: 0px;

  border: black solid 2px;
  border-radius: 12px;
  background-color: white;

  /* left: 7px; */
  width: 95%;
}







/* Footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 340px;
  margin-top: 130px;

  background-color: black;
}

footer.dark {
  background-color: white;
}
  
#footer-divider {
  position: relative;
    
  width: 100%;
  bottom: 60px;
  rotate: 180deg;
}


#footer-nav{
  display: flex;
  align-items: center;
  /* height: 60%; */

  margin-left: 65px;
 
  margin-right: 55px;

}

#footer-logo {
  width: 215px;
  height:215px;
}

footer #aboutText {
  color: white;
  margin-left: 50px;
  margin-right: 80px;

  height: 100%;
}

#aboutText h1 {
  font-family: 'Bungee', sans-serif;
  font-size: 40px;
 
  margin:0px;
  padding: 0px;

}

#aboutText p {
  font-size: 19px;;
  margin:0px;
  padding: 0px;
}

#footer-btns {
  display: flex;
  gap: 20px;    
}

